*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

header{
  background-color: white;
  padding: 20px 0;
}

.common-button{
  background-color:#1D4ED8;
  padding: 8px 28px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 8px;
  color: white;
  border: none;


}
.container{
  width: 1320px;
  margin: 0 auto;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #575757;
  font-size:16px ;
  font-weight:500 ;
}
.hero-parent{
 background-image:
       linear-gradient(
    rgba(0, 0, 0, 0.527),
    rgba(0, 0, 0, 0.678)),
    url(./image/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.hero-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top:70px;
  padding-bottom: 40px;
  margin: 0 auto;
  width: 1320px;
}
.hero-child h1{
  color: white;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
}
.hero-child p{
  color: white;
  font-size:22px ;
  font-weight: 400;
  line-height:24px ;
  text-align: center;
  width: 60%;
}
.hero-btn{
  font-size: 24px;
  padding: 15px 30px;
  margin-top: 250px;
}
.speakers-parent {
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 70px 0;
}
.sk-head h2{
  font-size:56px ;
  line-height:64px ;
  font-weight:bold ;
  color: black;
}
.card-parent{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.card-child{
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 8px;
  width: 644px;
  padding-bottom:20px ;
}
.card-child img{
  border-radius: 8px 8px 0px 0px;
  width: 643px;

  
}

.card-child h6{
  padding-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size:12px ;
  line-height:18px ;
  font-weight:600 ;
  color: #2563EB ;
}
.card-child h4{
  padding-left: 20px;
  margin-top: 5px;
  font-size:20px ;
  line-height:27px ;
  font-weight: 700;
  color: black;
}
.card-child p{
  padding-left: 20px;
  margin-top:5px;
  font-size:12px ;
  line-height:21px ;
  font-weight:400;
  color: #575757;
}
.price-parent{
 width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 70px 0;
}
.price-top h2{
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: black;
  text-align: center;
}
.price-top p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color:#575757;
  text-align: center;
  margin-top: 5px;
}

.price-bottom{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.price-card-one {
  width: 370px;
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 8px;
  padding: 20px;
}
.price-card-one  h6{
  font-size:13px ;
  text-transform: uppercase;
  font-weight:600 ;
  line-height:19.5px ;
  color:#575757 ;
}
.price-card-one h3{
  font-size:44px ;
  margin-top: 8px;
  font-weight:700 ;
  line-height:44px ;
  color:#0D1B2A;
}
.price-card-one  p{
    font-size:12px ;
    margin-top: 8px;
  line-height:21px ;
  font-weight:400;
  color: #575757;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.price-card-one ul{
  margin-top: 15px;
}
.price-card-one ul li{
  font-size: 14px;
  line-height: 30px;
  font-weight: 500px;
  color: #333333;
  margin-left: 20px;
}
.price-card-one li::marker {
    color: #2563eb;   
    font-size: 14px;  
}
.price-card-one button{
  background-color: white;
  width: 100%;
  margin-top: 12px;
  padding: 8px 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  color: #2563EB;
  border:1px solid #2563EB;
}
 
.price-card-two{
  width: 370px;
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 8px;
  padding: 20px;
  background-color: #0d1b2a;
}
.price-card-two h6{
 font-size:13px ;
 text-transform: uppercase;
  font-weight:600 ;
  line-height:19.5px ;
  color:#93C5FD ;
}
.price-card-two h3{
 font-size:44px ;
  margin-top: 8px;
  font-weight:700 ;
  line-height:44px ;
  color:white;
}
.price-card-two p{
font-size:12px ;
    margin-top: 8px;
  line-height:21px ;
  font-weight:400;
  color: #575757;
  padding-bottom: 15px;
  border-bottom: 1px solid #575757;
}
.price-card-two ul{
margin-top: 15px;
}
.price-card-two ul li{
font-size: 14px;
  line-height: 30px;
  font-weight: 500px;
  color: #868585;
  margin-left: 20px;
}
.price-card-two li::marker {
    color: #2563eb;   
    font-size: 14px;  
}
.price-card-two button{
  background-color: #2563EB;
  width: 100%;
  margin-top: 12px;
  padding: 8px 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  color: white;
  border:1px solid #2563EB;
}
.price-card-three{
  background-color: rgba(248, 249, 251, 1);
}
.price-card-three button{
  background-color: white;
  width: 100%;
  margin-top: 12px;
  padding: 8px 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  color: black;
    border:1px solid black;
}

footer{
  background-color: #0D1B2A;
  
}
.footer-parent{
  width: 1320px;
  padding: 50px 0px;
  margin: 0 auto;
  
}
.footer-top{
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-icon a{
    color:white;
   text-decoration: none;
}
.footer-social-icon a i{
  font-size: 25px;
}

.footer-bottom{
  border-top: 1px solid rgb(158, 156, 156) ;
  padding: 10px 0px;
}
.footer-bottom p{
  color: rgb(158, 156, 156);
  font-size: 14px;
  line-height: 21px;
font-weight: 400;
text-align: center;
}